<div   class="container-fluid">
  <div [hidden]="submitted">
    <h1>Užsakymo forma</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <label for="protocol-Id">Užsakymo numeris: </label>
      <input
        required
        matInput
        id="protocol-Id"
        type="text"
        formControlName="protocolId"
        class="form-control"
        tabIndex="1"
        pattern="^[0-9]*$"
        name="protocolId"
        (ngModelChange)="protocolChange($event)"
        [(ngModel)]="orders.protocolId"
      >
      </div>

      <label for="customer">Užsakovas: </label>
      <input (click)="this.getCustomers();"
             [(ngModel)]="orders.customer"
             id="customer"
             type="text"
             formControlName="customer"
             class="form-control"
             id="customer"
             matInput
             required
             [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of customerGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let name of group.names" [value]="name">
            <div class="aParent">
              <div>
                {{name}}
              </div>
              <div>
                <button type="button" mat-raised-button color="primary" (click)="swalCustomerDelete();delete(name)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-option>
        </mat-optgroup>
        <button mat-menu-item (click)="addCustomer()">
          <mat-icon>edit</mat-icon>
          <span>Pridėti naują užsakovą</span>
        </button>
      </mat-autocomplete>

      <div class="form-group">
        <label for="sampleAmount"> Kiekis  </label>
        <input
          (focusout)="toggleChild();childFunction(orders)"
          required
          [(ngModel)]="orders.orderAmount"
          name="orderAmount"

          class="form-control"
          id="sampleAmount"
          formControlName="orderAmount"
        >
      </div>
      <div >
        <label>Tyrimai</label>
        <ng-multiselect-dropdown
          id="tests"
          [placeholder]="'-'"
          [settings]="dropdownSettings"
          [(ngModel)]="selectedItems"
          [data]="dropdownList"
          (onDropDownClose)="onDropDownClose(selectedItems)"
          formControlName="tests"
        >
        </ng-multiselect-dropdown>

      </div>

      <div formArray="sampleTypes">
        <label for="sampleType"> Kuro rūšis </label>
        <input (click)="this.getSampleTypes();"
               [(ngModel)]="orders.sampleType"
               type="text"
               class="form-control"
               id="sampleType"
               matInput
               required
               [matAutocomplete]="autoGroup2"
               formControlName="sampleType">

        <mat-autocomplete #autoGroup2="matAutocomplete">
          <mat-optgroup *ngFor="let group of sampleTypeGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              <div class="aParent">
                <div>
                  {{name}}
                </div>
                <div>
                  <button type="button" mat-raised-button color="primary" (click)="swalCustomerDelete();delete2(name)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-option>
          </mat-optgroup>
          <button mat-menu-item (click)="openDialog2()">
            <mat-icon>edit</mat-icon>
            <span>Pridėti naują rūšį</span>
          </button>
        </mat-autocomplete>
      </div>


    </form>
    <p>Complete the form to enable button.</p>
    <button mat-button [disabled]="!profileForm.invalid" type="submit" class="btn btn-primary"
            (click)="swalOrderRegister()">
      Registruoti
    </button>
    <button mat-button type="button" class=" btn btn-secondary" (click)="clear()">Valyti</button>

    <ol class="form-group">
      <label *ngIf="showVar"> Mėginių sąrašas </label>

      <li  *ngFor="let sample of sampleList; let i= index">
        <td>
          <input   tabIndex="{{i+1}}"  type="text" name="sampleId-{{i}}" [(ngModel)]="sample.sampleId" #ft01="ngModel"
                   class="form-control" #samplesS="ngModel" required
          ></td>
        <div
          class="alert alert-danger"
          *ngIf="samplesS.touched && !samplesS.valid">
          <small
            *ngIf="samplesS.errors.required">
            Įveskite mėginio ID
          </small>
        </div>
    </ol>

    <p>Form Status: {{ profileForm.status }}</p>
    <p>Form Status: {{ orders | json }}</p>

    </div>
</div>
